animales_vertebrados{
  counter-reset: contador;
  background-color: rgb( 39, 160, 255);
  color: rgb(255,255,204);
}



nombre{
  display: inline;
}

especie {
  margin: 20px;
  color: red;
  font-size: 200%;
}

cuerpo,respiracion,extremidades,desplazamiento,reproduccion,habitat{
  display: block;
  margin: 10px;
  font-size: 120%;
}

